@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

header {
    font-family: 'Bitter', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(77, 101, 117, 0.649);
    box-shadow: 2px 2px 2px rgb(96, 96, 96);
    width: auto;
    height: 300px;
    margin: 0;
}

header img {
    height: auto;
    width: 450px;
    margin-bottom: 8px;
    margin-top: 10px;
}

span {
    display: inline-flex;
}

.form-org {
    margin-left: 10px;
    margin-right: 10px;
}

.form-blood {
    margin-left: 10px;
    margin-right: 10px;
}

.form-house {
    margin-left: 10px;
    margin-right: 10px;
}

.org-filter {
    background-color: #D1CDA8;
    border: 2px solid rgb(229, 229, 229);
    font-family: 'Bitter', serif;
    font-size: 1em;
    color: #23263A;
}

.blood-filter {
    background-color: #D1CDA8;
    border: 2px solid rgb(229, 229, 229);
    font-family: 'Bitter', serif;
    font-size: 1em;
    color: #23263A;
}

.house-filter {
    background-color: #D1CDA8;
    border: 2px solid rgb(229, 229, 229);
    font-family: 'Bitter', serif;
    font-size: 1em;
    color: #23263A;
}

.house-filter-button {
    background-color: #B1C4B0;
    border: 2px solid rgb(229, 229, 229);
    font-family: 'Bitter', serif;
    font-size: 1em;
}

.house-filter-button:hover {
    background-color: rgb(86, 101, 85);
}

.blood-filter-button {
    background-color: #B1C4B0;
    border: 2px solid rgb(229, 229, 229);
    font-family: 'Bitter', serif;
    font-size: 1em;
}

.blood-filter-button:hover {
    background-color: rgb(86, 101, 85);
}

.org-filter-button {
    background-color: #B1C4B0;
    border: 2px solid rgb(229, 229, 229);
    font-family: 'Bitter', serif;
    font-size: 1em;
}

.org-filter-button:hover {
    background-color: rgb(86, 101, 85);
}

button {
    border-radius: 10%;
}

#reset {
    margin-top: 15px;
    border-radius: none;
    background-color: #313F50;
    height: 45px;
}

#reset:hover {
    transition: .4s;
    transform: scale(1.2);
    background-color: rgb(111, 143, 183);
}

a {
    text-decoration: none;
    font-size: 1.7em;
    font-family: 'Bitter', serif;
    color: rgb(170, 170, 170);
    border-radius: none;
}





