.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin-bottom: -115px;
    border-radius: 10%;
    height: 250px;
    width: auto;
}

p {
    font-size: 3.5em;
    font-weight: bolder;
    color: whitesmoke;
}